In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv('weather_data.csv')

In [3]:
df

,airport,fl_date,precip,snow,snowdepth,windgust,cloudcover,weather
0,ATL,2018-01-01,0.00,0.0,0.0,40.7,74.3,cloudly
1,ATL,2018-01-02,0.00,0.0,0.0,0.0,29.6,cloudly
2,ATL,2018-01-03,0.00,0.0,0.0,29.5,67.1,cloudly
3,ATL,2018-01-04,0.00,0.0,0.0,51.8,6.9,wind
4,ATL,2018-01-05,0.00,0.0,0.0,37.1,28.0,cloudly
...,...,...,...,...,...,...,...,...
6193,SEA,2019-12-27,1.09,0.0,0.0,0.0,93.6,rainy
6194,SEA,2019-12-28,0.00,0.0,0.0,0.0,73.2,cloudly
6195,SEA,2019-12-29,0.30,0.0,0.0,0.0,79.3,rainy
6196,SEA,2019-12-30,0.79,0.0,0.0,37.1,86.6,rainy
6197,SEA,2019-12-31,8.49,0.0,0.0,56.3,90.2,rainy

In [4]:
df.loc[df['weather'] == 'cloudly', 'weather'] = 'cloudy'

In [29]:
df = df.rename(columns ={'date': 'fl_date'})

In [17]:
df.windgust = df.windgust.fillna(0)

In [5]:
df.to_csv(r'weather_data.csv', index = False)

In [30]:
df

,airport,fl_date,precip,snow,snowdepth,windgust,cloudcover,weather
0,ATL,2018-01-01,0.00,0.0,0.0,40.7,74.3,cloudly
1,ATL,2018-01-02,0.00,0.0,0.0,0.0,29.6,cloudly
2,ATL,2018-01-03,0.00,0.0,0.0,29.5,67.1,cloudly
3,ATL,2018-01-04,0.00,0.0,0.0,51.8,6.9,wind
4,ATL,2018-01-05,0.00,0.0,0.0,37.1,28.0,cloudly
...,...,...,...,...,...,...,...,...
6193,SEA,2019-12-27,1.09,0.0,0.0,0.0,93.6,rainy
6194,SEA,2019-12-28,0.00,0.0,0.0,0.0,73.2,cloudly
6195,SEA,2019-12-29,0.30,0.0,0.0,0.0,79.3,rainy
6196,SEA,2019-12-30,0.79,0.0,0.0,37.1,86.6,rainy
6197,SEA,2019-12-31,8.49,0.0,0.0,56.3,90.2,rainy