In [1]:
import pandas as pd

In [4]:
df  = pd.read_csv('weather_data.csv').drop(columns="Unnamed: 0")

In [5]:
df

,airport,date,precip,snow,snowdepth,windgust,cloudcover,icon
0,ATL,2018-01-01,0.00,0.0,0.0,40.7,74.3,partly-cloudy-day
1,ATL,2018-01-02,0.00,0.0,0.0,NaN,29.6,partly-cloudy-day
2,ATL,2018-01-03,0.00,0.0,0.0,29.5,67.1,partly-cloudy-day
3,ATL,2018-01-04,0.00,0.0,0.0,51.8,6.9,wind
4,ATL,2018-01-05,0.00,0.0,0.0,37.1,28.0,partly-cloudy-day
...,...,...,...,...,...,...,...,...
6193,SEA,2019-12-27,1.09,0.0,0.0,NaN,93.6,rain
6194,SEA,2019-12-28,0.00,0.0,0.0,NaN,73.2,partly-cloudy-day
6195,SEA,2019-12-29,0.30,0.0,0.0,NaN,79.3,rain
6196,SEA,2019-12-30,0.79,0.0,0.0,37.1,86.6,rain
6197,SEA,2019-12-31,8.49,0.0,0.0,56.3,90.2,rain

In [13]:
df.loc[df['weather'] == 'rain', 'weather'] = 'rainy'

In [11]:
df = df.rename(columns ={'icon': 'weather'})

In [17]:
df.windgust = df.windgust.fillna(0)

In [19]:
df.to_csv(r'weather_data.csv', index = False)